This tutorial has been taken from **[Data School](https://www.youtube.com/channel/UCnVzApLJE2ljPZSeQylSEyg)**. <br>
The link for the tutorial video can be found [here](https://youtu.be/-Ov1N1_FbP8).

# Create Pandas DataFrame from another object

In [1]:
import pandas as pd

In [3]:
# dictionaries are unordered data structures, so it may happen that color column appears before id
pd.DataFrame({'id': [100, 101, 102], 'color': ['red', 'blue', 'red']})

    id color
0  100   red
1  101  blue
2  102   red

In [4]:
# fix columns of dataframe made from dictionary
pd.DataFrame({'id': [100, 101, 102], 'color': ['red', 'blue', 'red']}, columns = ['id', 'color'])

    id color
0  100   red
1  101  blue
2  102   red

In [6]:
# We may also name indices
df = pd.DataFrame({'id': [100, 101, 102], 'color': ['red', 'blue', 'red']}, columns = ['id', 'color'], index = ['a', 'b', 'c'])

In [7]:
df.head()

    id color
a  100   red
b  101  blue
c  102   red

In [10]:
pd.DataFrame([[100, 'red'], [101, 'blue'], [102, 'red']], columns = ['id', 'color'])

    id color
0  100   red
1  101  blue
2  102   red

In [11]:
import numpy as np

In [13]:
arr = np.random.rand(4, 2)
arr

array([[0.12218547, 0.34409629],
       [0.89859282, 0.52378057],
       [0.61447557, 0.58503388],
       [0.60860309, 0.2940894 ]])

In [15]:
pd.DataFrame(arr, columns = ['one', 'two'])

        one       two
0  0.122185  0.344096
1  0.898593  0.523781
2  0.614476  0.585034
3  0.608603  0.294089

In [18]:
pd.DataFrame({'student': np.arange(100, 110, 1), 'test': np.random.randint(60, 101, 10)}).set_index('student')

         test
student
100        63
101        90
102        84
103        80
104        73
105        60
106        99
107        72
108        64
109        81

In [26]:
s = pd.Series(['round', 'square'], index = ['c', 'b'], name = 'shape')
s

c     round
b    square
Name: shape, dtype: object

In [27]:
df

    id color
a  100   red
b  101  blue
c  102   red

In [29]:
pd.concat([df, s], axis = 1) # concatenation was aligned

    id color   shape
a  100   red     NaN
b  101  blue  square
c  102   red   round